.hidden {
  display: none;
}

body {
  background-color: #afbee6;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  line-height: 26px;
  font-family: monospace;
}

#main {
  width: 50%;
  padding: 10px;
  border: 1px solid #002280;
  border-radius: 16px;
  background-color: #c3ceee;
  float: left;
}

#result1, #result2, #result3, #result4 {
  width: 40%;
  padding: 10px;
  border: 1px solid #002280;
  border-radius: 16px;
  background-color: #c3ceee;
  float: right;
}